@{
    ViewBag.Title = "Contact";
}
<h2>Contact Information</h2>
<h3>Riley Doll</h3>

<address>
    7540 Wheeler Rd<br />
    Whitmore Lake, MI 48189<br />
    <abbr title="Phone">P:</abbr>
    734.904.5675
</address>

<address>
    <strong>Email:</strong>   <a href="rd484215@ohio.edu">rd484215@ohio.edu</a><br />
</address>

<address>
    <p>
        Go to My LinkedIn:
        
            <a href="https://www.linkedin.com/in/rileydoll/" class="btn btn-default btn-lg" style="color: darkseagreen">
                <span class="glyphicon glyphicon-share-alt"></span>
            </a>
       
    </p>
</address>